.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

img{
  height: 350px;
  width: 250px;
  object-fit: cover;
  margin: 10px;
  border-radius: 6px;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.sidebar{
  width:250px;
  border: 1px solid black;
  background: blue;
  height: 100vh;
  transition: transform 0.3s ease-in-out
}

.hide-sidebar{
  width:0;
  transform: translateX(-100%);
  
}

.show-sidebar{
  
  transform: translateX(0);
  
}

.tab-header{
  padding: 10px;
  margin: 10px;
  border:1px solid black;
  cursor: pointer;
 
}

.tab-body{
  border: 1px solid black;
  height: 80vh;
  margin: 10px;
  padding: 10px;
}

.activeTab{
  background: green;
  color: white;
}
